<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="icon" type="image/x-icon" href="https://cdn.iconscout.com/icon/free/png-256/free-node-js-1174925.png?f=webp">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body >
        <div class=" px-7 pt-4  bg-slate-900 h-screen w-full">
                <a href="/" class=" block  text-blue-500" > back to Home</a>
                <h3 class="  text-center text-2xl font-semibold text-white" ><%= filename %></h3>
                <p class=" pt-5 text-lg text-white " > <%= filedata %> </p>
            </div>

        <script src="" async defer></script>
    </body>
</html>
